<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ImportGroup Label="PropertySheets" />
  <PropertyGroup Label="UserMacros">
    <zlib_include>e:\xample\zlib</zlib_include>
    <zlib_lib_debug>e:\xample\zlib\contrib\vstudio\vc10\x86\ZlibStatDebug</zlib_lib_debug>
    <zlib_lib_release>e:\xample\zlib\contrib\vstudio\vc10\x86\ZlibStatReleaseWithoutAsm</zlib_lib_release>
    <openssl_include>e:\xample\openssl\inc32</openssl_include>
    <openssl_lib>e:\xample\openssl\out32dll</openssl_lib>
  </PropertyGroup>
  <PropertyGroup />
  <ItemDefinitionGroup />
  <ItemGroup>
    <BuildMacro Include="zlib_include">
      <Value>$(zlib_include)</Value>
    </BuildMacro>
    <BuildMacro Include="zlib_lib_debug">
      <Value>$(zlib_lib_debug)</Value>
    </BuildMacro>
    <BuildMacro Include="zlib_lib_release">
      <Value>$(zlib_lib_release)</Value>
    </BuildMacro>
    <BuildMacro Include="openssl_include">
      <Value>$(openssl_include)</Value>
    </BuildMacro>
    <BuildMacro Include="openssl_lib">
      <Value>$(openssl_lib)</Value>
    </BuildMacro>
  </ItemGroup>
</Project>